<hr>
    <h5>
      <span><%= comment.commenter %> commented <%= comment.created_at.localtime.strftime('on %A %b %d \'%y at %l:%M %p') %></span>
    </h5>

    <p class="commentText">
      <%= comment.body %>
    </p>




    <p>
  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               class: "btn btn-danger commentDelete" %>
    </p>
