    <%= render 'blog_header', title: "Tell Us Your Story", text: "A blog about...." %>

<h1>New Article</h1>

    <%= render 'form' %>

  <%= link_to 'Back', articles_path, class: "btn btn-primary" %>
