<h5><%= render 'blog_header', title: "Navigating Lymphoma in Dogs", text: "A blog about...." %></h5>


<div class="mainContent">
  <h5>Doggo ipsum blep boof super chub thicc, long woofer much ruin diet. Heckin good boys bork woofer blop clouds very hand that feed shibe ur givin me a spook, you are doing me a frighten borking doggo dat tungg tho very taste wow. Long bois I am bekom fat you are doin me a concern noodle horse doge the neighborhood pupper very taste wow, snoot shoober bork yapper. Such treat puggo snoot vvv smol borkf, super chub aqua doggo you are doing me the shock boofers. Big ol pupper pupperino fluffer pupper he made many woofs, borking doggo corgo. Dat tungg tho thicc lotsa pats wrinkler smol borking doggo with a long snoot for pats what a nice floof doing me a frighten long bois, porgo waggy wags smol borking doggo with a long snoot for pats maximum borkdrive the neighborhood pupper. Borking doggo long water shoob aqua doggo corgo puggo heckin, aqua doggo mlem big ol. Shoob long bois length boy boofers the neighborhood pupper borking doggo h*ck extremely cuuuuuute you are doing me a frighten borkf, shoober long bois wrinkler ruff pats very good spot very jealous pupper.
  </h5>
</div>
